$blue: rgb(0, 90, 255);
$purple: rgb(153, 0, 153);
$pink: rgb(255, 128, 130);
$red: rgb(255, 75, 0);
$orange: rgb(246, 170, 0);
$yellow: rgb(255, 241, 0);
$green: rgb(3, 175, 122);
$cyan: rgb(77, 196, 255);

// indigo and teal is undefined
// $indigo:  #6610f2 !default;
// $teal:    #20c997 !default;
