@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

$font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Roboto, "Noto Sans JP", sans-serif, $font-family-emoji;
$font-family-monospace: "Ubuntu Mono", "Noto Sans JP", monospace, $font-family-emoji;
