@use '../fonts/noto-sans-jp-subset' with ($font-path-prefix: 'fonts/');
@use '../fonts/noto-serif-jp-subset' with ($font-path-prefix: 'fonts/');
@use '../fonts/pt-serif' with ($font-path-prefix: 'fonts/');
@use '../fonts/roboto' with ($font-path-prefix: 'fonts/');
@use '../fonts/ubuntu-mono' with ($font-path-prefix: 'fonts/');

$font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: join(
  (-apple-system, Roboto, "Noto Sans JP", sans-serif),
  $font-family-emoji
);
$font-family-serif: join(
  ("PT Serif", "Noto Serif JP", serif),
  $font-family-emoji
);
$font-family-monospace: join(
  ("Ubuntu Mono", "Noto Sans JP", monospace),
  $font-family-emoji
);

$small-font-size-ratio: 0.78615138; // sqrt(0.618...)
$small-font-size: percentage($small-font-size-ratio);

$code-font-size: 1em;
$kbd-font-size: $small-font-size;
