@charset 'UTF-8';
@use 'sass:list';

$font-path-prefix: '' !default;

$fonts: (
  'Ubuntu Mono': (
    'ubuntumono-r': (normal, normal),
    'ubuntumono-ri': (normal, italic),
    'ubuntumono-b': (bold, normal),
    'ubuntumono-bi': (bold, italic),
  ),
);

@each $font-name, $patterns in $fonts {
  @each $base-name, $styles in $patterns {
    @font-face {
      font-display: swap;
      font-family: $font-name;
      font-style: list.nth($styles, 2);
      font-weight: list.nth($styles, 1);
      src: local($font-name),
        url('#{$font-path-prefix}ubuntu-mono/#{$base-name}.woff2') format('woff2'),
        url('#{$font-path-prefix}ubuntu-mono/#{$base-name}.woff') format('woff');
    }
  }
}
