@use '../vars/color';

.btn-primary {
  color: var(--bs-white, color.$white);

  &:hover {
    color: var(--bs-white, color.$white);
  }

  .btn-check:focus + &,
  &:focus {
    color: var(--bs-white, color.$white);
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: var(--bs-white, color.$white);
  }

  &:disabled,
  &.disabled {
    color: var(--bs-white, color.$white);
  }
}
